body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .slides-container {
    position: relative;
    width: 60%;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .login-form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #F97202;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #b85c11;
  }
  
  #forgot-password {
    display: block;
    text-align: right;
    margin-top: 10px;
    color: #F97202;
    text-decoration: none;
  }
  
  #forgot-password:hover {
    text-decoration: underline;
  }
  /* ... previous styles ... */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .slides-container {
    position: relative;
    width: 80%; /* Adjust as needed */
    max-width: 800px; /* Set a maximum width */
    margin: 0 auto;
    overflow: hidden;
  }
  .login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  animation: slideAnimation 15s infinite alternate;
}

.slider-image {
  flex: 1;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fadeInOut 15s infinite alternate;
}
.stay-logged-in {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.stay-logged-in input[type="checkbox"] {
  margin-right: 5px;
}
@keyframes slideAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

  /* ... previous styles ... */
  
  @media screen and (max-width: 768px) {
    .login-container {
      flex-direction: column;
    }
  
    .slides-container {
      width: 100%;
    }
  
    .login-form {
      margin-top: 20px;
    }
  }